html, body {
	height: 100%;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#cover {
	height: 97%;
	display: table;
	position: relative;
	top: -30px;
	width: 100%;
	background: #12537D;
	padding: 0px;
	overflow: hidden;
	margin-bottom: -30px;
}

#cover-cont {
	display: table-cell;
	width: 100%;
	margin: auto;
	position: relative;
	vertical-align: middle;
}

#bisect {
	width: 0px;
	height: 2px;
	background: white;
	-webkit-animation: bisectDraw 1s forwards;
	        animation: bisectDraw 1s forwards;
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
	-webkit-box-shadow: 0px 5px 10px black;
	        box-shadow: 0px 5px 10px black;
}

#center-circ {
	background: #12537D;
	border: solid 2px white;
	height: 280px;
	width: 280px;
	position: relative;
	border-radius: 100%;
	display: block;
	top: -145px;
	margin: auto;
	-webkit-box-shadow: 0px 6px 5px #093049;
	        box-shadow: 0px 6px 5px #093049;
	display: table;
	overflow: hidden;
	-webkit-transform: scale(0);
	        transform: scale(0);
	-webkit-animation: circleScale .9s forwards;
	        animation: circleScale .9s forwards;
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}

#center-circ h1 {
	text-align: center;
	display: table-cell;
	border-radius: 100%;
	color: white;
	font-size: 70px;
	text-shadow: 6px 6px 4px #093049;
	text-transform: uppercase;
	vertical-align: middle;
	position: relative;
	top: 1px;
	left: 1px;
	letter-spacing: 9px;
	font-family: Rubik;
}


/* circle qualities */


.shortLine {
	height: 2px;
	background: white;
	position: absolute;
	-webkit-animation: shortSlide forwards 0.5s;
	        animation: shortSlide forwards 0.5s;
	-webkit-animation-delay: 3.5s;
	        animation-delay: 3.5s;
}

.smallCirc {
	height: 8px;
	width: 8px;
	background: #12537D;
	border: solid 2px white;
	position: absolute;
	right: 0px;
	top: -3px;
	border-radius: 100%;
}

.medLine {
	height: 2px;
	width: 0%;
	background: white;
	position: absolute;
	-webkit-animation: medSlide forwards 1s;
	        animation: medSlide forwards 1s;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-delay: 3.8s;
	        animation-delay: 3.8s;

}

.medCirc {
	height: 25px;
	width: 25px;
	background: #12537D;
	border-radius: 100%;
	border: solid 2px white;
	position: absolute;
	right: 0px;
	top: -13px;
}

.largeLine {
	height: 2px;
	width: 0%;
	background: white;
	position: absolute;
	-webkit-animation: largeSlide forwards 1.5s;
	        animation: largeSlide forwards 1.5s;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-delay: 2.8s;
	        animation-delay: 2.8s;
}

.largeCirc {
	height: 60px;
	width: 60px;
	background: #12537D;
	position: absolute;
	top: -33px;
	right: 0px;
	border: solid 2px white;
	border-radius: 100%;
}

/* lefty */


#lefty {
	position: absolute;
	left: 0px;
	width: 100%;
	top: 170px;
	z-index: 4;
}

#lefty #short-1 {
	top: 0px;
}

#lefty #med-1 {
	top: 40px;
}

#lefty #large-1 {
	top: 80px;
}

#lefty #short-2 {
	top: 120px;
}

#lefty #med-2 {
	top: 160px;
}

#lefty #short-3 {
	top: 200px;
}

#lefty #short-4 {
	top: 400px;
}

#lefty #med-3 {
	top: 435px;
}

#lefty #short-5 {
	top: 480px;
}

#lefty #med-4 {
	top: 530px;
}

#lefty #large-2 {
	top: 580px;
}

#lefty #short-6 {
	top: 635px;
}

/* righty */

#right .shortLine,
#right .medLine,
#right .largeLine {
	position: absolute;
	right: 0px;
}

#right .smallCirc,
#right .medCirc,
#right .largeCirc {
	left: 0px;
}

#right #r-small-1 {
	top: 165px;
}

#right #r-med-1 {
	top: 210px;
}

#r-lg-1 {
	top: 250px;
}

#r-small-2 {
	top: 285px;
}

#r-med-2 {
	top: 330px;
}

#r-small-3 {
	top: 370px;
}

#r-small-4 {
	top: 580px;
}

#r-med-3 {
	top: 610px;
}

#r-small-5 {
	top: 650px;
}

#r-med-4 {
	top: 700px;
}

#r-lg-2 {
	top: 750px;
}

#r-small-6 {
	top: 800px;
}

@-webkit-keyframes bisectDraw {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}

@keyframes bisectDraw {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}

@-webkit-keyframes circleScale {
	0% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}

	75% {
		-webkit-transform: scale(1.03);
		        transform: scale(1.03);
	}

	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes circleScale {
	0% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}

	75% {
		-webkit-transform: scale(1.03);
		        transform: scale(1.03);
	}

	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}


@-webkit-keyframes shortSlide {
	0% {
		width: 0px;
	}

	75% {
		width: 16%;
	}

	100% {
		width: 15%;
	}
}


@keyframes shortSlide {
	0% {
		width: 0px;
	}

	75% {
		width: 16%;
	}

	100% {
		width: 15%;
	}
}

@-webkit-keyframes medSlide {
	0% {
		width: 0px;
	}

	75% {
		width: 24%;
	}

	100% {
		width: 22%;
	}
}

@keyframes medSlide {
	0% {
		width: 0px;
	}

	75% {
		width: 24%;
	}

	100% {
		width: 22%;
	}
}

@-webkit-keyframes largeSlide {
	0% {
		width: 0px;
	}

	95% {
		width: 35%;
	}

	100% {
		width: 32%;
	}
}

@keyframes largeSlide {
	0% {
		width: 0px;
	}

	95% {
		width: 35%;
	}

	100% {
		width: 32%;
	}
}

@-webkit-keyframes bubble {
	0% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}

	75% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes bubble {
	0% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}

	75% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}


/* indexColors */

#indexColors {
	width: 100%;
}

.colorBox {
	width: 100%;
	position: relative;
	height: 550px;
	display: table;
	width: 100%;
}

.boxLine {
	width: 35%;
	height: 3px;
	background: white;
	position: absolute;
	top: 48%;
}

.diamond {
	border: solid 2px white;
	position: absolute;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.mini,
.mini2 {
	height: 10px;
	width: 10px;
	left: 35%;
	top: -4px;
}

.mini2 {
	left: 75%;
}

.med,
.med2 {
	left: 13%;
	top: -13px;
	height: 30px;
	width: 30px;
	position: absolute;
}

.med2 {
	left: 50%;
}

.large {
	height: 40px;
	width: 40px;
	border: 2.5px solid white;
	right: -22px;
	top: -18.5px;
}

#first,
#first .diamond {
	background: #164869;
}

#second,
#second .diamond {
	background: #0C3C5A;
}

#second .boxLine {
	position: absolute;
	right: 0px;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}

#third,
#third .diamond {
	background: #093049;
}

/* indexText */
.indexText {
	color: white;
	max-width: 550px;
	line-height: 22px;
	position: absolute;
	top: 20%;
}

.indexText h2 {
	font-family: rubik;
	font-size: 45px;
	letter-spacing: 1.5px;
}

.indexText p {
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 1px
}

.indexText a {
	color: white;
	text-decoration: underline;
}

.indexText a:hover {
	color: yellow;
}

#whatDo {
	left: 10%;
	top: 130px;
}

#whoAre {
	top: 140px;
}

#whoIroh {
	top: 120px;
}

#whoAre,
#whoIroh {
	text-align: right;
	right: 10%;
}

.colorbox #third {
	margin-top: -25px;
}

.colorbox a {
	color: yellow;
}

.colorbox a:hover {
	text-decoration: underline;
}

/****************************
mobile-illustration
****************************/

#mobile-illustration {
	position: absolute;
	background: yellow !impotant;
	height: 300px;
	top: 0px;
	width: 100%;
}

#vertBis {
	height: 300px;
	width: 3px;
	background: white;
	position: absolute;
	left: 49%;
}

.shortVert,
.medVert,
.longVert {
	width: 2px;
	background: white;
	position: absolute;
}

.shortVert {
	height: 120px;
}

.medVert {
	height: 200px;
}

.longVert {
	height: 300px;
}

#vert-1 {
	left: 10%;
}

#vert-2 {
	left: 18%;
}

#vert-3 {
	left: 28%;
}

#vert-4 {
	left: 38%;
}

#vert-5 {
	right: 10%;
}

#vert-6 {
	right: 18%;
}

#vert-7 {
	right: 28%;
}

#vert-8 {
	right: 38%;
}

@media only screen and (min-width: 768px) and (max-width: 1441px) {
	#lefty {
		position: absolute;
		top: 80px;
	}

	#right #r-small-1 {
		top: 70px;
	}

	#right #r-med-1 {
		top: 115px;
	}

	#r-lg-1 {
		top: 165px;
	}

	#r-small-2 {
		top: 200px;
	}

	#r-med-2 {
		top: 245px;
	}

	#r-small-3 {
		top: 285px;
	}

	#r-small-4 {
		top: 495px;
	}

	#r-med-3 {
		top: 525px;
	}

	#r-small-5 {
		top: 565px;
	}

	#r-med-4 {
		top: 605px;
	}

	#r-lg-2 {
		top: 665px;
	}

	#r-small-6 {
		top: 715px;
	}

	.boxLine {
		width: 30%;
	}
}

@media only screen and (max-width: 767px) {

	#center-circ {
		height: 240px;
		width: 240px;
		z-index: 3;
		top: -100px;
	}

	#bisect {
		background: transparent;
		-webkit-box-shadow: none;
		        box-shadow: none;
		-webkit-animation: none;
		        animation: none;
		width: 100%;
	}

	#whoAre,
	#whatDo,
	#whoIroh {
		position: relative;
		left: 0px;
		padding: 0px 30px;
		text-align: center;
	}

	#whoAre {
		top: 120px;
	}

	#whatDo {
		top: 80px;
	}

	#whoIroh {
		top: 70px;
	}

	.boxLine {
		top: 0px;
		width: 60%;
	}

	.smallCirc {
		height: 10px;
		width: 10px;
		top: 100%;
		left: -4px;
	}

	.medCirc {
		top: 100%;
		height: 20px;
		width: 20px;
		left: -10px;
	}

	.largeCirc {
		top: 100%;
		height: 30px;
		width: 30px;
		left: -15px;
	}

}
