html, body {
	height: 100%;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#cover {
	height: 100%;
	display: table;
	position: relative;
	width: 100%;
	background: #12537D;
	padding: 0px;
	overflow: hidden;
}

#cover-cont {
	display: table-cell;
	width: 100%;
	margin: auto;
	position: relative;
	vertical-align: middle;
}

#bisect {
	width: 0px;
	height: 2px;
	background: white;
	animation: bisectDraw 1s forwards;
	animation-delay: 1s;
	box-shadow: 0px 5px 10px black;
}

#center-circ {
	background: #12537D;
	border: solid 2px white;
	height: 280px;
	width: 280px;
	position: relative;
	border-radius: 100%;
	display: block;
	top: -145px;
	margin: auto;
	box-shadow: 0px 6px 5px #093049;
	display: table;
	overflow: hidden;
	transform: scale(0);
	animation: circleScale .9s forwards;
	animation-delay: 2s;
}

#center-circ h1 {
	text-align: center;
	display: table-cell;
	border-radius: 100%;
	color: white;
	font-size: 70px;
	text-shadow: 6px 6px 4px #093049;
	text-transform: uppercase;
	vertical-align: middle;
	position: relative;
	top: 1px;
	left: 1px;
	letter-spacing: 9px;
	font-family: Rubik;
}



/* circle qualities */


.shortLine {
	height: 2px;
	background: white;
	position: absolute;
	animation: shortSlide forwards 0.5s;
	animation-delay: 3.5s;
}

.smallCirc {
	height: 8px;
	width: 8px;
	background: #12537D;
	border: solid 2px white;
	position: absolute;
	right: 0px;
	top: -3px;
	border-radius: 100%;
}

.medLine {
	height: 2px;
	width: 0%;
	max-width: 450px;
	background: white;
	position: absolute;
	animation: medSlide forwards 1s;
	animation-iteration-count: 1;
	animation-delay: 3.8s;

}

.medCirc {
	height: 25px;
	width: 25px;
	background: #12537D;
	border-radius: 100%;
	border: solid 2px white;
	position: absolute;
	right: 0px;
	top: -13px;
}

.largeLine {
	height: 2px;
	width: 0%;
	max-width: 580px;
	background: white;
	position: absolute;
	animation: largeSlide forwards 1.5s;
	animation-iteration-count: 1;
	animation-delay: 2.8s;
}

.largeCirc {
	height: 60px;
	width: 60px;
	background: #12537D;
	position: absolute;
	top: -33px;
	right: 0px;
	border: solid 2px white;
	border-radius: 100%;
}

/* lefty */


#lefty {
	position: absolute;
	left: 0px;
	width: 100%;
	top: 170px;
	z-index: 4;
}

#lefty #short-1 {
	top: 0px;
}

#lefty #med-1 {
	top: 40px;
}

#lefty #large-1 {
	top: 80px;
}

#lefty #short-2 {
	top: 120px;
}

#lefty #med-2 {
	top: 160px;
}

#lefty #short-3 {
	top: 200px;
}

#lefty #short-4 {
	top: 400px;
}

#lefty #med-3 {
	top: 435px;
}

#lefty #short-5 {
	top: 480px;
}

#lefty #med-4 {
	top: 530px;
}

#lefty #large-2 {
	top: 580px;
}

#lefty #short-6 {
	top: 635px;
}

/* righty */

#right .shortLine,
#right .medLine,
#right .largeLine {
	position: absolute;
	right: 0px;
}

#right .smallCirc,
#right .medCirc,
#right .largeCirc {
	left: 0px;
}

#right #r-small-1 {
	top: 165px;
}

#right #r-med-1 {
	top: 210px;
}

#r-lg-1 {
	top: 250px;
}

#r-small-2 {
	top: 285px;
}

#r-med-2 {
	top: 330px;
}

#r-small-3 {
	top: 370px;
}

#r-small-4 {
	top: 580px;
}

#r-med-3 {
	top: 610px;
}

#r-small-5 {
	top: 650px;
}

#r-med-4 {
	top: 700px;
}

#r-lg-2 {
	top: 750px;
}

#r-small-6 {
	top: 800px;
}

@keyframes bisectDraw {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}

@keyframes circleScale {
	0% {
		transform: scale(0);
	}

	75% {
		transform: scale(1.03);
	}

	100% {
		transform: scale(1);
	}
}


@keyframes shortSlide {
	0% {
		width: 0px;
	}

	75% {
		width: 16%;
	}

	100% {
		width: 15%;
	}
}

@keyframes medSlide {
	0% {
		width: 0px;
	}

	75% {
		width: 25.5%;
	}

	100% {
		width: 25%;
	}
}

@keyframes largeSlide {
	0% {
		width: 0px;
	}

	75% {
		width: 44%;
	}

	100% {
		width: 40%;
	}
}

@keyframes bubble {
	0% {
		transform: scale(0);
	}

	75% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}


/* indexColors */

#indexColors {
	width: 100%;
}

.colorBox {
	width: 100%;
	position: relative;
	height: 550px;
	display: table;
	width: 100%;
}

.boxLine {
	width: 35%;
	height: 3px;
	background: white;
	position: absolute;
	top: 48%;
}

.diamond {
	border: solid 2px white;
	position: absolute;
	transform: rotate(45deg);
}

.mini,
.mini2 {
	height: 10px;
	width: 10px;
	left: 35%;
	top: -4px;
}

.mini2 {
	left: 75%;
}

.med,
.med2 {
	left: 13%;
	top: -13px;
	height: 30px;
	width: 30px;
	position: absolute;
}

.med2 {
	left: 50%;
}

.large {
	height: 40px;
	width: 40px;
	border: 2.5px solid white;
	right: -22px;
	top: -18.5px;
}

#first,
#first .diamond {
	background: #164869;
}

#second,
#second .diamond {
	background: #0C3C5A;
}

#second .boxLine {
	position: absolute;
	right: 0px;
	transform: rotate(180deg);
}

#third,
#third .diamond {
	background: #093049;
}

/* indexText */
.indexText {
	color: white;
	max-width: 500px;
	line-height: 22px;
	position: absolute;
	top: 20%;
}

.indexText h2 {
	font-family: rubik;
	font-size: 45px;
	letter-spacing: 1.5px;
}

.indexText p {
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 1px;
}

.colorbox #second {
	left: 8%;
}

.colorbox #first,
.colorbox #third {
	text-align: right;
	right: 8%;
}

.colorbox #third {
	margin-top: -25px;
}

.colorbox a {
	color: yellow;
}

.colorbox a:hover {
	text-decoration: underline;
}

/* indexLinks */

#indexLinks {
	background: black;
	padding: 50px 0px;
	position: relative;
}

#indexLinks .container {
	max-width: 1000px;
}

#indexLinks .col-sm-6 {
	padding: 0px 50px;
}

#indexLinks a {
	text-align: center;
	font-family: Din Alternate;
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	position: relative;
	padding: 18px;
	border: solid 1px white;
	display: block;
	margin: auto;
	transition: 1s;
}

#indexLinks a:hover {
	background: white;
	color: black;
	transition: 1s;
}

@media only screen and (max-width: 767px) {
	* {
		text-align: center;
	}

	.colorBox #first,
	.colorBox #second,
	.colorBox #third {
		position: relative;
		left: 0px;
		padding: 0px 30px;
	}

	.colorBox #first{
		top: 120px;
	}

	.colorBox #second,
	.colorBox #third {
		top: 110px;
	}

}
