
html, body {
	height: 100%;
	width: 100%;
}

#background {
	background: rgba(140, 169, 196, 0.26);
	padding: 8% 15px;
	min-height: 100%;
	width: 100%;
}

a {
	color: black;
}

.string-content {
	background: white;
	max-width: 600px;
	margin: 40px auto 10px;
	padding: 5px 20px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	display: none;
}

img {
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	padding-bottom: 10px;
	font-family: 'varela round';
}

p {
	font-family: helvetica;
}

strong {
	color: #134074;
	font-weight: 550;
}

h2 {
	margin: 0px;
	padding: 0px;
	margin-top: 15px;
	margin-bottom: 10px;
}

#string-app {
	max-width: 400px;
	background: #8DA9C4;
	margin: auto;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

#inner {
	border: solid 2px white;
	border-radius: 10px;
	padding: 80px 0px;
	position: relative;
}

input[type="number"] {
	width: 55%;
}

select,
input[type="number"] {
	min-width: 250px;
	border-radius: 4px;
	border: none;
	margin: 12px auto;
	box-shadow: 1px 1px grey;
	text-align: left;
	font-family: 'varela round';
	background: #ebeaea;
	padding-left: 6px;

}

input[type="submit"] {
	width: 35%;
	background: #134074;
	color: white;
	border: none;
	border-radius: 4px;
	letter-spacing: 1px;
	margin: 10px auto;
	font-family: 'varela round';
}

input {
	display: block;
}

/**************************
form stylings
***************************/

#exp-form select,
#exp-form input {
	height: 30px;
}

#exp-form select,
#exp-form input[type=number],
#exp-form option {
	background: white;
}

/**************************
form stylings
***************************/

::placeholder {
	color: black;
	font-family: 'varela round';
}

#back-circle {
	margin-top: 15px;
	margin-bottom: 15px;
	background: #134074;
	display: inline-block;
	width: 155px;
	height: 155px;
	border-radius: 100%;
	position: relative;
}

.guitar-circle {
	position: relative;
	top: 7px;
	left: 0px;
	display: inline-block;
	height: 140px;
	width: 140px;
	border-radius: 100%;
	margin: auto;
	border: double white 6px;
}

.guitar-circle img {
	height: 110px;
	position: relative;
	top: 12px;
	margin: auto;
	transform: rotate(-44deg);
}

a#reload {
	position: absolute;
	bottom: 15px;
	opacity: 0.6;
	left: 0px;
	text-align: center;
	width: 100%;
}

@media only screen and (max-width: 768px) {
	#background {
			padding: 22% 15px;
	}
}
