/* COLORS 
BLUE SAPPHIRE : #12537D
DARK IMPERIAL BLUE : #164869
PRUSSIAN BLUE(1) : #0C3C5A
PRUSSIAN BLUE(2) : #093049
HARVARD CRIMSON : #D0021B
*/

/* GLOBAL */
html, body {
	height: 100%;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

.row {
	width: 100%;
	margin: auto;
}

* { 
	font-family: Varela Round;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Din Alternate;
}

img {
	max-width: 100%;
}

strong {
	color: yellow;
}

/* NAV */

nav span {
	color: white;
	font-size: 20px;
}

.navbar {
	background: black;
	z-index: 3;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar a {
	color: white;
	text-shadow: 3px 3px 0px black ;
	font-family: Din Alternate;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
}

.underlineAnim {
	display: inline-block;
	color: white;
	text-decoration: none;
}

.underlineAnim::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: white;
	transition: width .3s;
}

.underlineAnim:hover::after {
	width: 100%;
}

#top-nav ul {
	display: flex;
	width: 100%;
	list-style: none;
	position: relative;
	top: 12px;
	justify-content: space-around;
}

#top-nav ul li {
	border-bottom: solid 1px transparent;
	padding: 0px 5px;
}

/* PROJECT GLOBAL */

.proj-header-img {
	height: 80%;
	background: black;
	display: table;
	width: 100%;
}

.logo {
	display: table-cell;
	vertical-align: middle;
}

#links {
	background: black;
}

.links-block {
	padding: 10px;
	max-width: 900px;
}

.link-box a {
	background: black;
	color: white;
	display: flex;
	justify-content: space-around;
	font-family: Varela Round;
	letter-spacing: 1px;
	font-size: 14px;
	transition: 1s ease;
}

.link-box a:hover {
	background: #666;
	transition: 1s ease;
}

.drop-content {
	padding: 5px 0px;
	display: none;
	background: white;
	border-bottom: solid 1px black;
}

.drop-content ul {
	text-align: center;
	list-style: none;
	padding: 15px 5% 0px 5%;
	display: flex;
	max-width: 900px;
	margin: auto;
	justify-content: space-around;
}

.drop-content ul li {
	padding: 10px;
	display: inline-block;
	font-family: Varela Round;
	text-transform: uppercase;
}

.drop-content a {
	color: #333;
}

.drop-content a:hover {
	border-bottom: solid 3px #931c1c;
	color: #931c1c;
}

#cont-chall {
	margin-top: -10px;
	text-align: center;
}

#cont-chall .container,
#design .container,
#dev .container,
#results .container {
	max-width: 850px;
	font-size: 16px;
	letter-spacing: 0.5px;
}

#context {
	margin-bottom: 60px;
	padding: 60px 0px;
	margin-bottom: 0px;
}

#context strong {
	color: #D0021B;
}

#challenge {
	background: #222;
	color: white;
	padding: 60px 0px;
	margin-bottom: 0px;
}

#challenge a {
	color: yellow;
	text-decoration: underline;
}

.topic {
	margin: 50px auto;
}

#design h1,
#dev h1,
#results h1 {
	margin-top: 80px;
	margin-bottom: -40px;
	text-align: center;
}

#design .container,
#dev .container,
#results .container{
	padding: 50px 20px;
}

#design p,
#dev p {
	margin: 25px auto;
}

#design .container,
#dev .container,
#results .container,
#branding {
	margin: auto;
	font-size: 16px;
}

.head-box {
	background: black;
	color: white;
	display: inline-block;
	padding: 5px 10px;
	font-family: Din Alternate;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 40px;
}

.head-line {
	background: black;
	position: relative;
	top: 13px;
	height: 3px;
	z-index: -1;
}

#cont-chall h1 {
	font-family: Din Alternate;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 0px;
	letter-spacing: 1.5px;
}

#challenge h3 {
	font-family: Varela Round;
	font-size: 26px;
	margin: 35px auto;
}

#cont-chall p {
	margin: 30px auto;
}

#challenge strong {
	color: yellow;
}

#roadblock {
	background: #12537D;
	color: white;
	padding: 10px auto;
}

#roadblock h2 {
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 50px;
	font-size: 45px;
	text-align: center;
	text-shadow: 5px 3px 0px #6282a1;
}

#roadblock h3 {
	font-family: Varela Round;
	font-size: 14px;
	letter-spacing: 1px;
	color: #ccc;
	margin-bottom: 40px;
}

#roadblock .container {
	line-height: 25px;
	max-width: 750px;
	text-align: center;
}

#roadblock img {
	margin: 30px auto 0px;
}

#roadblock p {
	margin: 20px auto;
}

#buttonBox {
	padding: 20px 0px;
	display: flex;
	width: 100%;
	justify-content: space-around;	
}

#results .container {
	margin-top: 30px;
}

#results p {
	font-size: 16px;
	line-height: 25px;
}

#results .scroll {
	display: block;
	color: #999;
	text-align: center;
	margin-top: 45px;
}

.liveButton {
	padding: 10px 100px;
	background: black;
	border: double 3px white;
	border-radius: 10px;
	color: white;
}

.liveButton:hover {
	background: #D0021B;
}

.liveButton:active {
	background: #890918;
	position: relative;
	top: 2px;
}

#seeMore {
	background: black;
	width: 100%;
	height: 80px;
}

#seeMore .container {
	display: flex;
	justify-content: space-around;	
}

#seeMore .container a {
	color: white;
	border: solid 1px white;
	padding: 10px 40px;
	text-transform: uppercase;
	font-family: Din Alternate;
	font-size: 25px;
	margin-top: 25px;
}

#seeMore .container a:hover {
	background: white;
	color: black;
}

/* FOOTER STYLES */

footer {
	background: black;
	text-align: center;
	color: white;
	padding: 2.5px;
	font-family: Din Alternate;
}

footer h3 a {
	color: white;
	font-family: Din Alternate;
	text-transform: uppercase;
	font-size: 20px;
}

/* Sketch Sections */

#sketchCarousel {
	background: #12537D;
	height: 800px;
	width: 100%;
}

#sketchCarousel h3 {
	color: white;
	margin: 0px;
	text-align: center;
	padding-top: 50px;
	margin-bottom: -50px;
	font-family: Varela Round;
	font-size: 32px;
	letter-spacing: 1px;
}

.carousel-control {
	background: none !important;
	color: white;
	opacity: 1;
}

.carousel-control:hover {
	color: yellow;
}

.carousel-indicators li {
	margin: auto 25px !important;
	padding: 8px;
}

.carousel-indicators .active {
	background: white !important;
	opacity: 1 !important;
	border-color: white !important;
	filter: none;
}

.item {
	padding: 100px 0px;
}

#sketchCarousel img {
	width: 300px;
}

.sketch-box {
	display: block;
	margin: auto;
	text-align: center;
}

.phone-back {
	padding: 12px;
	background: white;
	display: inline-block;
	border-radius: 10px;
}

.sketchComment {
	width: 250px;
	color: white;
	position: relative;
}

.sketchComment h4 {
	font-family: Varela Round;
	font-size: 25px;
	color: yellow;
	width: 250px;
}

#sketchContainer {
	max-width: 1100px;
	margin: auto;
}

.sketchLine {
	border: dashed 1.5px white;
	display: inline-block;
	position: relative;
	width: 18%;
	z-index: 2;
}
 
/* RPC CUSTOM STYLES */
#rpc-head {
	background: url('img/waves.jpeg');
	background-size: cover;
	background-attachment: fixed;
}

#rpc-logo-back {
	background: black;
	border-radius: 100%;
	border: double 8px white;
	width: 40%;
	min-width: 280px;
	max-width: 320px;
	padding: 9px;
	display: block;
	margin: auto;
}

#rpc-logo-back img {
	margin: auto;
	border-radius: 100%;
}

#branding {
	background: black;
	color: white;;
}

#branding .container {
	max-width: 1150px; 
	margin: auto;
	padding: 10px;
}

#branding .col-md-6 {
	display: table;
	height: 500px;
}

#branding img {
	margin: auto;
	display: table-cell;
	position: relative;
	top: 40px;
}

.branding-text {
	vertical-align: middle;
	display: table-cell;
	text-align: left;
}

#rpc-contrast {
	position: relative;
	top: -360px;
}

#contrastLine {
	top: -328px;
	left: 24%;
}

#rpc-collapsed {
	position: relative;
	top: -700px;
	left: 78%;
	text-align: right;
}

#collapsedLine {
	top: -673px;
	left: 63%;
}

#rpc-solidBack {
	top: -480px;
	left: 78%;
	text-align: right;
}

#solidLine {
	top: -450px;
	left: 61%;
}

#clearLine {
	top: -500px;
	left: 24%;
}

#rpc-clear {
	top: -530px;
}

#tabLine {
	top: -615px;
	left: 63%;
}

#rpc-tab {
	top: -645px;
	left: 80%;
	text-align: right;
}

#handwriteLine {
	top: -520px;
	left: 24%;
}

#rpc-handwrite {
	top: -550px;
}

#addressLine{
	top: -400px;
	left: 22%;
}

#rpc-address{
	top: -432px;
}

#socLine{
	top: -462px;
	left: 61%;
}

#rpc-soc{
	left: 80%;
	top: -492px;
}

#mapLine{
	top: -480px;
	left: 22%;
}

#rpc-map{
	top: -510px;
}

/* ABOUT PAGE */

#about-top, #about-bells {
	border-bottom: solid 40px black;
}

#headshot {
	background: url('img/retro-jalia.jpg');
	background-size: cover;
	height: 300px;
	margin: 25px auto;
	max-width: 250px;
}

#wrap {
	max-width: 250px;
	margin: auto;
}

#about-top .row .col-md-3 {
	height: 550px;
	color: white;
}

#about-top h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-family: Din Alternate;
}

#first {
	background: white;
	color: black !important;
}

#second {
	background: #12537D;
	padding-top: 40px;
}

#third {
	background: #164869;
}

#fourth {
	background: #093049;
	text-align: right;
	display: table;
}

#fourth #bottom {
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: 40px;
}

.about-line {
	height: 3px;
	position: absolute;
	background: white;
	width: 27%;
	z-index: 3;
}

#about-top #left {
	top: 500px;
	left: 25%;
}

#about-top #right {
	right: 0px;
	top: 100px;
}


/* bells illustration */

#diag-box {
	height: 150px;
	width: 150px;
	position: relative;
	top: 50px;
	left: 30px;
	transform: rotate(45deg);
	background: black;
}

#box-bisect {
	height: 5px;
	background: white;
	position: relative;
	top: 100px;
}

.box-line {
	height: 3px;
	width: 60px;
	background: white;
	position: relative;
}

.smallCirc {
	height: 30px;
	width: 30px;
	border-radius: 100%;
	border: solid 2px white;
	position: absolute;
	right: 0px;
	top: -13px;
	background: black;
}

.medCirc {
	height: 20px;
	width: 20px;
	border-radius: 100%;
	border: solid 2px white;
	position: absolute;
	right: 0px;
	background: black;
	top: -10px;
}

#diag-1 {
	top: 60px;
}

#diag-2 {
	top: 20px;
}

.diag-ln {
	height: 4px;
	width: 520px;
	transform-origin: left;
	background: black;
	transform: rotate(-45deg);
	position: absolute;
	top: 300px;
	left: 0px;
	z-index: -2;
}

#line1 {
	left: -115px;
}

#line2 {
	left: -85px;
}

#line3 {
	left: -55px;
}

#line4 {
	left: -25px;
}

#line5 {
	left: 0px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1024px) {


#rpc-contrast,
#rpc-collapsed,
#rpc-solidBack, 
#rpc-clear,
#rpc-handwrite,
#rpc-address,
#rpc-soc,
#rpc-map,
#rpc-tab {
	position: relative;
	top: 0px;
	left: 0px;
	width: 55%;
	min-width: 200px;
	text-align: left;
	margin: 50px auto 0px;
}

.sketchComment h4 {
	font-size: 20px;
	margin-bottom: -10px;
}

#sketchCarousel {
	height: auto;
}

#sketchCarousel img {
	width: 100%;
}

.phone-back {
	width: 35%;
	min-width: 250px;
}

#branding {
	padding: 10px 10px 40px;
}

#branding .col-md-6 {
	display: table;
	height: 300px;
}

#branding img {
	border: solid 3px white;
	border-radius: 100%;
	display: block;
	max-width: 350px;
	margin-bottom: 20px;
}

.logo {
	width: 65%;
}

#design .container,
#dev .container,
#results .container,
#branding,
#cont-chall .container ,
#results .container p {
	margin: auto;
	font-size: 16px;
	line-height: 27px;
}

#results .container p {
	margin-top: 35px;
}

#cont-chall h3 {
	font-size: 24px;
}

.drop-content ul {
	flex-direction: column;
}

#seeMore .container {
	flex-direction: column;
	text-align: center;
}

#seeMore {
	height: auto;
}

}




@media only screen and (max-width: 767px) {
.navbar {
	font-size: 30px;
}

.navbar button:hover {
	transition: 2s ease;
}

.navbar button:active {
	transform: rotate(360deg);
	transition: 2s ease;
}

.navbar-brand {
	text-decoration: underline;
	font-size: 40px !important;
	position: relative;
	top: 13px;
}

#top-nav {
	background: black;
	position: absolute;
	right: 0px;
}
	
#top-nav ul {
	flex-direction: column;
	padding: none;
	margin: none;
	text-align: right;
	padding-right: 20px;
	padding-bottom: 20px;
}


.proj-header-img {
	height: 95%;
}

#branding img {
	max-width: 260px;
	margin-bottom: 80px;
}
	
}
