/* COLORS 
BLUE SAPPHIRE : #12537D
DARK IMPERIAL BLUE : #164869
PRUSSIAN BLUE(1) : #0C3C5A
PRUSSIAN BLUE(2) : #093049
HARVARD CRIMSON : #D0021B
*/

/* GLOBAL */
html, body {
	height: 100%;
}

a:hover {
	text-decoration: none;
}

.row {
	width: 100%;
	margin: auto;
}

* { 
	font-family: Varela Round;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Din Alternate;
}

img {
	max-width: 100%;
}

strong {
	color: yellow;
}

/* NAV */

.navbar {
	background: black;
	border-radius: 0px;
	height: 50px;
}

.navbar a {
	color: white;
	text-shadow: 3px 3px 0px black ;
	font-family: Din Alternate;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
}

#top-nav ul {
	display: flex;
	width: 100%;
	list-style: none;
	position: relative;
	top: 12px;
	justify-content: space-around;
}

#top-nav ul li {
	border-bottom: solid 1px transparent;
	padding: 0px 5px;
}

#top-nav ul li a:hover {
	border-bottom: solid 1px yellow;
	color: yellow;
}

/* PROJECT GLOBAL */

.proj-header-img {
	height: 90%;
	background: black;
	margin-top: -100px;
	display: table;
	width: 100%;
}

.logo {
	display: table-cell;
	vertical-align: middle;
}

#links {
	background: black;
}

.links-block {
	padding: 10px;
	max-width: 900px;
}

.link-box a {
	background: black;
	color: white;
	display: flex;
	justify-content: space-around;
	font-family: Varela Round;
	letter-spacing: 1px;
	font-size: 14px;
	transition: 1s ease;
}

.link-box a:hover {
	background: #666;
	transition: 1s ease;
}

.drop-content {
	padding: 5px 0px;
	display: none;
	background: white;
	border-bottom: solid 1px black;
}

.drop-content ul {
	text-align: center;
	list-style: none;
	padding-top: 15px;
	justify-content: space-between;
}

.drop-content ul li {
	padding: 10px;
	display: inline-block;
	font-family: Varela Round;
	text-transform: uppercase;
}

.drop-content a {
	color: #333;
}

.drop-content a:hover {
	border-bottom: solid 3px #931c1c;
	color: #931c1c;
}

#cont-chall {
	margin-top: -10px;
	text-align: center;
}

#cont-chall .container {
	max-width: 850px;
	font-size: 16px;
	letter-spacing: 0.5px;
}

#context {
	margin-bottom: 60px;
	padding: 60px 0px;
	margin-bottom: 0px;
}

#context strong {
	color: #4A90E2;
}

#challenge {
	background: #222;
	color: white;
	padding: 60px 0px;
	margin-bottom: 0px;
}

.topic {
	margin: 50px auto;
}

#design h1,
#dev h1,
#results h1 {
	margin-top: 80px;
	margin-bottom: -40px;
	text-align: center;
}

#design .container,
#dev .container,
#results .container {
	max-width: 750px;
	padding: 50px 20px;
}

#design .container,
#dev .container,
#results .container,
#branding {
	margin: auto;
	font-size: 18px;
}

.head-box {
	background: black;
	color: white;
	display: inline-block;
	padding: 5px 10px;
	font-family: Din Alternate;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 40px;
}

.head-line {
	background: black;
	position: relative;
	top: 13px;
	height: 3px;
	z-index: -1;
}

#cont-chall h1 {
	font-family: Din Alternate;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 0px;
	letter-spacing: 1.5px;
}

#challenge h3 {
	font-family: Varela Round;
	font-size: 26px;
	margin: 35px auto;
}

#cont-chall p {
	margin: 30px auto;
}

#challenge strong {
	color: yellow;
}

#roadblock {
	background: #12537D;
	color: white;
	padding: 10px auto;
}

#roadblock h2 {
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 50px;
	font-size: 45px;
	text-align: center;
	text-shadow: 5px 3px 0px #6282a1;
}

#roadblock h3 {
	font-family: Varela Round;
	font-size: 14px;
	letter-spacing: 1px;
	color: #ccc;
	margin-bottom: 40px;
}

#roadblock .container {
	line-height: 25px;
	max-width: 750px;
	text-align: center;
}

#roadblock img {
	margin: 30px auto 0px;
}

#roadblock p {
	margin: 20px auto;
}

.seeMore a {
	color: white;
	font-family: Din Alternate;
	text-transform: uppercase;
}

a .more {
	display: block;
	text-align: center;
	padding: 20px 0px;
	border: solid 1px transparent;
}

a.more {
	font-size: 25px;
	margin: 0px;
	padding: 0px;
}

.seeMore #work {
	background: #0C3C5A;
}

.seeMore #about {
	background: #093049;
}

.seeMore a:hover {
	color: black;
}

.seeMore a:hover #work,
.seeMore a:hover #about {
	background: white;
	border: solid 1px black;
}

/* FOOTER STYLES */

footer {
	background: black;
	text-align: center;
	color: white;
	padding: 2.5px;
	font-family: Din Alternate;
}

footer h3 a {
	color: white;
	font-family: Din Alternate;
	text-transform: uppercase;
}

/* Sketch Sections */

#sketchCarousel {
	background: #12537D;
	height: 800px;
}

#sketchCarousel h3 {
	color: white;
	margin: 0px;
	text-align: center;
	padding-top: 50px;
	margin-bottom: -50px;
	font-family: Varela Round;
	font-size: 32px;
	letter-spacing: 1px;
}

.carousel-control {
	background: none !important;
	color: white;
	opacity: 1;
}

.carousel-control:hover {
	color: yellow;
}

.carousel-indicators li {
	margin: auto 25px !important;
	padding: 8px;
}

.carousel-indicators .active {
	background: white !important;
	opacity: 1 !important;
	border-color: white !important;
	filter: none;
}

.item {
	padding: 100px 0px;
}

#sketchCarousel img {
	width: 300px;
}

.sketch-box {
	display: block;
	margin: auto;
	text-align: center;
}

.phone-back {
	padding: 12px;
	background: white;
	display: inline-block;
	border-radius: 10px;
}

.sketchComment {
	width: 250px;
	color: white;
	position: relative;
}

.sketchComment h4 {
	font-family: Varela Round;
	font-size: 25px;
	color: yellow;
	width: 250px;
}

#sketchContainer {
	max-width: 1100px;
	margin: auto;
}

.sketchLine {
	border: dashed 1.5px white;
	display: inline-block;
	position: relative;
	width: 18%;
	z-index: 2;
}
 
/* RPC CUSTOM STYLES */
#rpc-head {
	background: url('img/waves.jpeg');
	background-size: cover;
	background-attachment: fixed;
}

#rpc-logo-back {
	background: black;
	border-radius: 100%;
	border: double 8px white;
	width: 40%;
	max-width: 320px;
	padding: 9px;
	display: block;
	margin: auto;
}

#rpc-logo-back img {
	margin: auto;
	border-radius: 100%;
}

#branding {
	background: black;
	color: white;;
}

#branding .container {
	max-width: 1150px; 
	margin: auto;
}

#branding .col-sm-6 {
	display: table;
	height: 500px;
}

#branding img {
	position: relative;
	top: 48px;
}

.branding-text {
	vertical-align: middle;
	display: table-cell;
	text-align: left;
}

#rpc-contrast {
	position: relative;
	top: -360px;
}

#contrastLine {
	top: -328px;
	left: 24%;
}

#rpc-collapsed {
	position: relative;
	top: -700px;
	left: 78%;
	text-align: right;
}

#collapsedLine {
	top: -673px;
	left: 63%;
}

#rpc-solidBack {
	top: -480px;
	left: 78%;
	text-align: right;
}

#solidLine {
	top: -450px;
	left: 61%;
}

#clearLine {
	top: -500px;
	left: 24%;
}

#rpc-clear {
	top: -530px;
}

#tabLine {
	top: -615px;
	left: 63%;
}

#rpc-tab {
	top: -645px;
	left: 80%;
	text-align: right;
}

#handwriteLine {
	top: -520px;
	left: 24%;
}

#rpc-handwrite {
	top: -550px;
}

#addressLine{
	top: -400px;
	left: 22%;
}

#rpc-address{
	top: -432px;
}

#socLine{
	top: -462px;
	left: 61%;
}

#rpc-soc{
	left: 80%;
	top: -492px;
}

#mapLine{
	top: -480px;
	left: 22%;
}

#rpc-map{
	top: -510px;
}