/* COLORS
BLUE SAPPHIRE : #12537D
DARK IMPERIAL BLUE : #164869
PRUSSIAN BLUE(1) : #0C3C5A
PRUSSIAN BLUE(2) : #093049
HARVARD CRIMSON : #D0021B
*/

/* GLOBAL */
html, body {
	height: 100%;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

.row {
	width: 100%;
	margin: auto;
}

* {
	font-family: 'varela round', helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Varela Round';
	text-transform: uppercase;
}

img {
	max-width: 100%;
}

strong {
	color: yellow;
}

/*************************** Navigation ***************************/

nav span {
	color: white;
	font-size: 20px;
}

.navbar {
	background: black;
	z-index: 3;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar a {
	color: white;
	text-shadow: 3px 3px 0px black ;
	font-family: Din Alternate;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
}

.underlineAnim {
	display: inline-block;
	color: white;
	text-decoration: none;
}

.underlineAnim::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: white;
	transition: width .3s;
}

.underlineAnim:hover::after {
	width: 100%;
}

#top-nav ul {
	display: flex;
	width: 100%;
	list-style: none;
	position: relative;
	top: 12px;
	justify-content: space-around;
}

#top-nav ul li {
	border-bottom: solid 1px transparent;
	padding: 0px 5px;
}

/*************************** See More ***************************/

#seeMore {
	background: #164869;
	padding: 40px 0px;
	text-align: center;
}

#seeMore a {
	color: white;
	padding: 10px 7%;
	font-size: 45px;
	text-transform: uppercase;
	font-family: Din Alternate;
}

/*************************** Minke CS Specific ************************/

#minke-main-img {
	background: url('img/desk-turn.jpeg');
	background-size: cover;
	color: white;
	background-attachment: fixed;
}

#minke-main-img h1 {
	font-size: 100px;
	text-shadow: 3px 5px rgba(0,0,0,0.6);
	letter-spacing: 5px;
}

#minke-main-img h3 {
	text-shadow: 2px 2px rgba(0,0,0,0.6);
	font-size: 30px;
}

#prereq {
	text-align: center;
	margin-top: 35px;
	position: relative;
}

#prereq h2 {
	background: white;
	width: 40px;
	margin: 15px auto;
}

#prereq #line {
	border: solid 0.5px black;
	position: absolute;
	width: 100%;
	top: 68px;
}

#issue {
	background: #12537D;
	padding: 50px 8%;
}

#issue h2 {
	text-align: center;
	color: white;
	margin-bottom: 30px;
	text-shadow: 2px 2px 4px #4A90E2;
	font-size: 50px;
	letter-spacing: 3px;
}

#issue p {
	max-width: 800px;
	margin: 15px auto;
	font-size: 16px;
	line-height: 25px;
	color: white;
}

#outcome {
	padding-bottom: 40px;
}

#outcome a.scroll {
	display: block;
	text-align: center;
	margin-top: 30px;
	color: #666;
	transition: 0.5s ease;
}

#outcome a.scroll:hover {
	color: red;
	transition: 0.5s ease;
}

#outcome .col-sm-6 {
	height: 220px;
}

#top-row {
	border-bottom: solid 8px white;
	margin-top: 30px;
}

#bottom-row {
	border-top: solid 8px white;
}

#outcome .col-sm-6:nth-child(1) {
	border-right: solid 8px white;
}

#outcome .col-sm-6:nth-child(2) {
	border-left: solid 8px white;
}

#outcome #wire {
	background: url('img/minke-wire.jpg');
	background-size: cover;
}

#outcome #old-home {
	background: url('img/minke-home-old.png');
	background-size: cover;
}

#outcome #new-home {
	background: url('img/minke-home-page-new.png');
	background-size: cover;
}

#outcome #new-about {
	background: url('img/minke-about-page.png');
	background-size: cover;
}

/*************************** Round Pond ***************************/

#rpc-main-img {
	background: url('img/waves.jpeg');
	background-size: cover;
	background-attachment: fixed;
}

#rpc-main-img h1 {
	color: white;
	text-shadow: 2px 2px 2px black;
	font-size: 60px;
	letter-spacing: 3px;
}

#rpc-main-img h3 {
	color: white;
	text-shadow: 1px 1px 1px black;
	font-size: 30px;
}

#logo {
	background: black;
	position: relative;
	top: -10px;
	width: 300px;
	border-radius: 100%;
	margin: auto;
	padding: 1%;
}

#logo img {
	border-radius: 100%;
	border: solid 1px white;
}

#rpc-wire {
	background: url('img/rpc-wire.jpg');
	background-size: cover;
	background-position: center;
}

#rpc-home {
	background: url('img/rpc-home.png');
	background-size: cover;
	background-position: center;
}

#rpc-menu {
	background: url('img/rpc-menu.png');
	background-size: cover;
	background-position: center;
}

#rpc-social {
	background: url('img/rpc-social.png');
	background-size: cover;
	background-position: top center;
}

/*************************** General Case Study ***************************/

.head-img {
	height: 650px;
	width: 90%;
	max-width: 1300px;
	background: yellow;
	margin: 25px auto;
	display: table;
}

.head-title {
	display: table-cell;
	text-align: center;
	vertical-align: bottom;
	padding-bottom: 50px;
}

.link-container {
	width: 90%;
	margin: auto;
	max-width: 1300px;
	display: block;
}

.link-container .col-sm-4 {
	padding: 5px;
	background: black;
	text-align: center;
}

.link-container .col-sm-4 a {
	color: white;
}

/* case-study-body */

#over {
	margin-top: 50px;
}

.case-study-body {
	max-width: 900px;
	margin: 120px auto;
	padding: 0px 50px;
}

.case-study-body strong {
	color: black;
}

.case-study-body h1 {
	text-align: center;
	margin: 20px auto;
}

.case-study-body p {
	font-size: 16px;
	line-height: 34px;
}


/*************************** About Page ***************************/

.question ul {
	list-style: none;
}

.question ul li {
	padding: 0px;
	margin: 10px auto;
	font-size: 18px;
	letter-spacing: 1px;
	position: relative;
}

.question {
	margin: 50px auto;
	font-size: 16px;
	line-height: 24px;
}

#left-skill li {
	margin-right: 15px;
}

#right-skill li {
	padding-left: 15px;
}

#q-and-a .row .col-sm-6 {
	padding: 0px;
	margin: 0px;
}

#q-and-a .row {
	margin: 10px auto;
}

.skill-box {
	width: 150px;
	position: absolute;
	height: 18px;
	background: white;
	border: solid 1px #ccc;
	top: 3px;
	right: 0px;
}

.skill-bar {
	position: absolute;
	height: 100%;
	background: #ccc;
}

#html {
	width: 95%;
}

#css {
	width: 90%;
}

#js {
	width: 75%;
}

#ps {
	width: 80%;
}

#illu {
	width: 70%;
}

#ske {
	width: 90%;
}

#jqu {
	width: 70%;
}

#boot {
	width: 85%;
}

#php {
	width: 65%;
}

#wp {
	width: 65%;
}

/*************************** About Page ***************************/

.proj-header-img {
	height: 80%;
	background: black;
	display: table;
	width: 100%;
}

.logo {
	display: table-cell;
	vertical-align: middle;
}

#links {
	background: black;
}

.links-block {
	padding: 10px;
	max-width: 900px;
}

.link-box a {
	background: black;
	color: white;
	display: flex;
	justify-content: space-around;
	font-family: lato, helvetica, sans-serif;
	letter-spacing: 1px;
	font-size: 14px;
	transition: 1s ease;
}

.link-box a:hover {
	background: #666;
	transition: 1s ease;
}

.drop-content {
	padding: 5px 0px;
	display: none;
	background: white;
}

.drop-content ul {
	text-align: center;
	list-style: none;
	padding: 30px 5% 0px 5%;
	display: flex;
	max-width: 900px;
	margin: auto;
	justify-content: space-around;
}

.drop-content ul li {
	padding: 10px;
	display: inline-block;
	font-family: lato, helvetica, sans-serif;
	text-transform: uppercase;
}

.drop-content a {
	color: #333;
}

.drop-content a:hover {
	border-bottom: solid 3px #931c1c;
	color: #931c1c;
}

.topic {
	margin: 80px auto;
}

.topic strong {
	color: black;
}

.topic h3 {
	font-size: 30px;
}

.topic img,
.topic iframe {
	margin: 20px auto;
	box-shadow: 0px 0px 5px #bbb;
}

#issue img {
	margin-top: 50px !important;
	max-width: 100%;
	display: block;
	margin: auto;
}

#issue h3 {
	color: #ddd;
	letter-spacing: 2px;
	margin-bottom: 50px !important;
	text-align: center;
	font-family: lato, helvetica, sans-serif;
	font-size: 16px;
}

#issue-box {
	max-width: 850px;
	margin: auto;
}

/*************************** Contact Page ***************************/

#contact {
	height: 100%;
	background: #12537D;
	margin-top: -20px;
	padding-top: 100px;
}

#contact h1 {
	color: white;
	text-align: center;
	font-size: 85px;
	font-weight: 400;
	letter-spacing: 3px;
	text-shadow: 3px 3px 8px black;
}

#contact form {
	display: block;

	margin: 25px auto;
	max-width: 440px;
}

#contact input,
#contact textarea {
	display: block;
	margin: 20px auto;
	width: 100%;
	padding: 8px 5px;
	border-radius: 13px;
	background: rgba(500,500,500,0.08);
	border: solid 3px white;
	color: white;
	box-shadow: 2px 4px 3px #000;
}


#contact input[type=submit] {
	width: 100px;
	position: relative;
	right: -170px;
	background: #093049;
}


/* FOOTER STYLES */

footer {
	background: black;
	text-align: center;
	color: white;
	padding: 30px 2.5px;
	font-family: Din Alternate;
}

footer a, footer h3 {
	font-family: rubik;
	color: white;
	font-size: 30px;
}

/* Sketch Sections */

#sketchCarousel {
	background: #12537D;
	height: 800px;
	width: 100%;
}

#sketchCarousel h3 {
	color: white;
	margin: 0px;
	text-align: center;
	padding-top: 50px;
	margin-bottom: -50px;
	font-size: 32px;
	letter-spacing: 1px;
}

.carousel-control {
	background: none !important;
	color: white;
	opacity: 1;
}

#sketchCarousel .carousel-control:hover {
	color: yellow;
}

.carousel-indicators li {
	margin: auto 25px !important;
	padding: 8px;
}

#sketchCarousel .carousel-indicators .active {
	background: white !important;
	opacity: 1 !important;
	border-color: white !important;
	filter: none;
}

.item {
	padding: 100px 0px;
}

#sketchCarousel img {
	width: 300px;
}

.sketch-box {
	display: block;
	margin: auto;
	text-align: center;
}

.phone-back {
	padding: 12px;
	background: white;
	display: inline-block;
	border-radius: 10px;
}

.sketchComment {
	width: 250px;
	color: white;
	position: relative;
}

.sketchComment h4 {
	font-family: Din Alternate;
	font-size: 30px;
	letter-spacing: 1px;
	color: yellow;
	width: 250px;
}

#sketchContainer {
	max-width: 1100px;
	margin: auto;
}

.sketchLine {
	border: dashed 1.5px white;
	display: inline-block;
	position: relative;
	width: 18%;
	z-index: 2;
}

/* RPC CUSTOM STYLES */
#rpc-head {
	background: url('img/waves.jpeg');
	background-size: cover;
	background-attachment: fixed;
}

#rpc-logo-back {
	background: black;
	border-radius: 100%;
	border: double 8px white;
	width: 40%;
	min-width: 280px;
	max-width: 320px;
	padding: 9px;
	display: block;
	margin: auto;
}

#rpc-logo-back img {
	margin: auto;
	border-radius: 100%;
}

#branding {
	background: black;
	color: white;;
}

#branding .container {
	max-width: 1150px;
	margin: auto;
	padding: 10px;
}

#branding .col-md-6 {
	display: table;
	height: 500px;
}

#branding img {
	margin: auto;
	display: table-cell;
	position: relative;
	top: 40px;
}

.branding-text {
	vertical-align: middle;
	display: table-cell;
	text-align: left;
}

#rpc-contrast {
	position: relative;
	top: -360px;
}

#contrastLine {
	top: -328px;
	left: 24%;
}

#rpc-collapsed {
	position: relative;
	top: -700px;
	left: 78%;
	text-align: right;
}

#collapsedLine {
	top: -673px;
	left: 63%;
}

#rpc-solidBack {
	top: -480px;
	left: 78%;
	text-align: right;
}

#solidLine {
	top: -450px;
	left: 61%;
}

#clearLine {
	top: -500px;
	left: 24%;
}

#rpc-clear {
	top: -530px;
}

#tabLine {
	top: -615px;
	left: 63%;
}

#rpc-tab {
	top: -645px;
	left: 80%;
	text-align: right;
}

#handwriteLine {
	top: -520px;
	left: 24%;
}

#rpc-handwrite {
	top: -550px;
}

#addressLine{
	top: -400px;
	left: 22%;
}

#rpc-address{
	top: -432px;
}

#socLine{
	top: -462px;
	left: 61%;
}

#rpc-soc{
	left: 80%;
	top: -492px;
}

#mapLine{
	top: -480px;
	left: 24%;
}

#rpc-map{
	top: -510px;
}

/* MINKE SPECIFIC */


/* ABOUT PAGE-TOP */

#about-photo {
	background: white;
	min-height: 600px;
}

#photo-circ {
	height: 300px;
	width: 300px;
	background: url('img/retro-jalia.jpg');
	background-size: cover;
	border-radius: 100%;
}

#outer-circ {
	padding: 8px;
	border: solid 2px black;
	display: block;
	background: white;
	width: 320px;
	border-radius: 100%;
	margin: auto;
}

#vertical-line {
	width: 3px;
	height: 80px;
	background: black;
	position: relative;
	display: block;
	margin: auto;
}

#drop-circles {
	position: absolute;
	width: 100%;
	height: 350px;
	top: 50px;
}

.drop-line {
	position: absolute;
	width: 3px;
	background: black;
}

#drop-line-1 {
	height: 300px;
	left: 8%;
}

.drop-lg {
	height: 30px;
	width: 30px;
	border: solid 2px black;
	position: absolute;
	bottom: 0px;
	left: -14px;
	background: white;
	border-radius: 100%;
}

#drop-line-2 {
	height: 140px;
	left: 14%;
}

.drop-sm {
	height: 15px;
	width: 15px;
	border: solid 2px black;
	position: absolute;
	bottom: 0px;
	left: -6px;
	border-radius: 100%;
	background: white;
}

#drop-line-3 {
	height: 220px;
	left: 20%;
}

#drop-line-4 {
	height: 125px;
	left: 25%;
}

.drop-md {
	height: 20px;
	width: 20px;
	border: solid 2px black;
	position: absolute;
	bottom: 0px;
	background: white;
	left: -8px;
	border-radius: 100%;
}

#drop-line-5 {
	height: 80px;
	left: 30%;
}


#drop-line-6 {
	height: 80px;
	left: 70%;
}


#drop-line-7 {
	height: 125px;
	left: 75%;
}

#drop-line-8 {
	height: 220px;
	left: 80%;
}

#drop-line-9 {
	height: 140px;
	left: 85%;
}

#drop-line-0 {
	height: 300px;
	left: 91%;
}

#drop-line-left-1, #drop-line-right-1 {
	height: 145px;
	position: absolute;
}

#drop-line-left-1 {
	left: 35%;
}

#drop-line-right-1 {
	left: 65%;
}

#drop-line-left, #drop-line-right {
	height: 55px;
	position: absolute;
}

#drop-line-left {
	left: 40%;
}

#drop-line-right {
	left: 60%;
}

@keyframes dropLines {
	0% {
		height: 0px;
	}

	100% {
		height: inherit;
	}
}

#about-photo {
	text-align: center;
	text-transform: uppercase;
}

#about-photo h2 {
	font-family: Rubik;
	margin: 50px auto 40px;
	font-size: 40px;
	letter-spacing: 2px;
}

#about-photo h4 {
	font-family: Din Alternate, sans-serif;
}

#about-photo a {
	text-transform: capitalize;
	color: black;
	margin-top: 30px;
	border: solid 2px black;
	display: inline-block;
	padding: 5px 50px;
}

#about-photo a:hover {
	background: black;
	color: white;
}

/* Q&A */

#q-and-a {
	border-top: double 10px #12537D;
	width: 100%;
	margin-top: 70px;
	margin-bottom: 90px;
}

#q-and-a h1 {
	text-align: center;
	color: #12537D;
	text-transform: uppercase;
	font-size: 35px;
}

#headerbox{
	background: white;
	display: inline-block;
	position: relative;
	top: -45px;
	padding: 0px 20px;
}

#q-and-a h3 {
	text-transform: uppercase;
	font-family: Rubik;
	font-weight: 400;
	font-size: 30px;
}

#questions-answers {
	max-width: 750px;
	margin: auto;
	padding: 0px 15px;
}

.question {
	margin: 45px auto;
}

.question p {
	font-size: 16px;
	color: #777;
	font-weight: lighter;
	margin-top: 15px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1024px) {


#rpc-contrast,
#rpc-collapsed,
#rpc-solidBack,
#rpc-clear,
#rpc-handwrite,
#rpc-address,
#rpc-soc,
#rpc-map,
#rpc-tab {
	position: relative;
	top: 0px;
	left: 0px;
	width: 55%;
	min-width: 200px;
	text-align: left;
	margin: 50px auto 0px;
}

.sketchComment h4 {
	font-size: 20px;
}

#sketchCarousel {
	height: auto;
}

#sketchCarousel img {
	width: 100%;
}

.phone-back {
	width: 35%;
	min-width: 250px;
}

#branding {
	padding: 10px 10px 40px;
}

#branding .col-md-6 {
	display: table;
	height: 300px;
}

#branding img {
	border: solid 3px white;
	border-radius: 100%;
	display: block;
	max-width: 350px;
	margin-bottom: 20px;
}

.logo {
	width: 65%;
}

#design .container,
#dev .container,
#results .container,
#branding,
#cont-chall .container ,
#results .container p {
	margin: auto;
	font-size: 16px;
	line-height: 27px;
}

#results .container p {
	margin-top: 35px;
}

#cont-chall h3 {
	font-size: 24px;
}

.drop-content ul {
	flex-direction: column;
}

#seeMore .container {
	flex-direction: column;
	text-align: center;
}

#seeMore {
	height: auto;
}

}




@media only screen and (max-width: 767px) {
.navbar {
	font-size: 30px;
}

.navbar button:hover {
	transition: 2s ease;
}

.navbar button {
	transition: 2s ease;
}

.navbar-brand {
	text-decoration: underline;
	font-size: 40px !important;
	position: relative;
	top: 13px;
}

#top-nav {
	background: black;
	position: absolute;
	right: 0px;
}

#top-nav ul {
	flex-direction: column;
	padding: none;
	margin: none;
	text-align: right;
	padding-right: 20px;
	padding-bottom: 20px;
}


.proj-header-img {
	height: 95%;
}

.col-sm-6 {
	border: none !important;
	margin-bottom: 20px;
}

.row {
	border: none !important;
}

}
